.button-accueil-solo{
  background-size: cover;
  background-position: center;
	height: 150px;
}

.button-accueil{
  background-size: cover;
  background-position: center;
	height: 300px;
	width: 100%;
	margin: 2px 0;
}

@media screen and (min-width: 1087px) {
  .button-accueil {
		width: 49.5%;
    margin: 2px;
  }
}

.button-accueil-slim{
  background-size: cover;
  background-position: center;
	height: 150px;
	width: 100%;
	margin: 2px 0;
}

@media screen and (min-width: 1087px) {
  .button-accueil-slim {
		width: 49.5%;
    margin: 2px;
  }
}


/*=================
===== Galerie =====
===================*/
#thumbs {
  list-style: none outside none; /* On supprime le style de la liste par défaut */
  margin: 0 auto; /* La galerie est centrée horizontalement */
  padding: 0;
}

#thumbs li {
  margin: 0;
  padding: 5px;
  position: relative;
  width: 250px;
  z-index: 10;
}

#thumbs li:hover {
  z-index: 100; /* Nécessaire pour Firefox */
}

#thumbs li img {
  border: 1px solid #fff;
  z-index: 100;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  -moz-transition: -moz-transform 0.25s ease-in-out;
  -o-transition: -o-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  -webkit-transform: scale(1); /* On réduit l'image à 75% */
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

#thumbs:hover li img {
  opacity: 0.75; /* Au survol de la galerie, toute les images auront une opacité de 50% */
}

#thumbs li:hover img {
  opacity: 1; /* L'image survolée aura une opacité de 100% */
  z-index: 100;
  -webkit-transform: scale(2); /* On affiche l'image à sa taille normale */
  -moz-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  -webkit-box-shadow: 1px 1px 10px #000; /* On ajoute une ombre */
  -moz-box-shadow: 1px 1px 10px #000;
  -o-box-shadow: 1px 1px 10px #000;
  box-shadow: 1px 1px 10px #000;
}

/*====================
===== Scroll Bar =====
======================*/
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #F2F2F2; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #2E3144; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #F2F2F2; /* creates padding around scroll thumb */
}